/* css reset */
html, body, header, ul, h1, section{
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a{
	text-decoration: none;
}
html{
	background-color: #e5e5e5;
}

/* css custom header, footer*/
header {
	position: fixed;
	top:0;
	width:100%;
	z-index: 10;
	overflow: hidden;
	height: 80px;
	background-color: #ffffff;

}
header h1{
	position: absolute;
	left: 20px;
	padding:1%;
	padding-top: 10px;
}
header h1 a{
	color: #48CFAD;
}
header div.nav a{
	position: absolute;
	top: 20px;
	right: 20px;
}
header div.nav a{
	display: none;
	color: #37BC98;
}
header div#countContainer{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom:0;
	background: #37BC98;
}
footer {
	padding:10px;
}



/* section */
section{
	-webkit-transition: -webkit-transform 1.3s;
	transition: transform 1.3s;
}


section#selectWrapper{
	background-color: #e5e5e5;
	position: relative;
	width: 100%;
	padding-top: 56px;
}

section#selectWrapper ul{
	margin: 0 auto;
	max-width: 1000px;
	padding: 3em 1em;
}
section#selectWrapper #bottomContainer{
	position: relative;
	background-color: yellow;
	margin: 0 auto;
	max-width: 600px;
	padding: 3em 1em;
	text-align: center;
}
section#selectWrapper #bottomContainer div{
	display: block;
	opacity: 0;
}
section#selectWrapper #bottomContainer div.on{
	opacity: 1;
}
section#selectWrapper #bottomContainer div.close{
	display: none;
}
section#resultWrapper{
	background-color: #f2f2f2;
	position: fixed;
	margin: 0 auto;
	top: 0px;
	right: 0px;
	width: 100%;
	max-width: 600px;
	height: 100%;
	overflow: hidden;
	padding-top: 80px;
}
section#resultWrapper div{
	margin: 20px;
}


body div.showSelectWrapper section#selectWrapper{
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}
body div.showResultWrapper section#selectWrapper{
	-webkit-transform: translateX(-600px);
	-ms-transform: translateX(-600px);
	transform: translateX(-600px);
	/*opacity: 0.1;*/
}
body div.showSelectWrapper section#resultWrapper {
	-webkit-transform: translateX(600px);
	-ms-transform: translateX(600px);
	transform: translateX(600px);
}
body div.showResultWrapper section#resultWrapper.on{
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

body div.showResultWrapper header div.nav a:nth-child(1){
	display: inline;
}

body div.showSelectWrapper header div.nav a:nth-child(2){
	display: inline;
}

/* movie-box list responsive design */
.movie-box{
	min-width: 162px;
	position: relative;
	display: inline-block;
	width: 18%;
	/*width: 185px;*/
	/*height: 260px;*/
	border-radius: 5px;
	overflow: hidden;
	margin: 5px;
	margin-left: 10px;
}
.movie-box .box-image img{
	min-width: 100%;
}
.movie-box .box-contents {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	top:0;
	bottom: 0;
	z-index: 5;
	text-align: center;
	opacity: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.movie-box.on .box-contents{
	opacity:1;
}
.movie-box:hover .box-contents{
	opacity:1;
}

.movie-box .box-contents .contents{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    color: #403f4e;
}

.movie-box .box-contents .contents .title{
	height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #F3F3F5;
    overflow: hidden; 
}
.movie-box .box-contents .contents .rating{
	padding: 12px 0 8px;
}
.movie-box .box-contents .contents .rating span{
	display: inline-block;
	background:url(image/heart-blank.png) center center no-repeat;
	width: 30px;
	height: 28px;
	transition: all 0.3s;
	webkit-transition: all 0.3s;
	cursor: pointer;
}
/*.movie-box .box-contents .contents .rating span:hover{
	background:url(image/heart-blink.png) center center no-repeat;
}*/
.movie-box .box-contents .contents .rating:hover span.hoverOn{
	background:url(image/heart-hover.png) center center no-repeat;
}
.movie-box.on .box-contents .contents .rating span.on{
	background:url(image/heart-blink.png) center center no-repeat;
}


@media screen and (max-width: 600px){
	body div.showSelectWrapper section#selectWrapper{
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
	body div.showResultWrapper section#selectWrapper{
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
		/*opacity: 0.1;*/
	}
	body div.showSelectWrapper section#resultWrapper {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	}
	body div.showResultWrapper section#resultWrapper.on{
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@media screen and (max-width: 965px) {
	.movie-box{
		width: 22%;
		font-size: 10px;
	}
}
@media screen and (max-width: 768px) {
	.movie-box{
		width: 30%;
		font-size: 10px;
	}
}
@media screen and (max-width: 586px) {
	.movie-box{
		/*width:200px;*/
		width: 45%;
		font-size: 10px;
		min-width: 120px;
		margin: 6px;
	}
	.movie-box img{
		width: 130px;
	}
	.movie-box .box-contents .contents .rating span{
		width: 23px;
		background-size: 100%;
	}
	.movie-box .box-contents .contents .rating:hover span.hoverOn{
		width: 23px;
		background-size: 100%;
	}
	.movie-box.on .box-contents .contents .rating span.on{
		width: 23px;
		background-size: 100%;
	}

}