html, body, header, ul, h1, section{
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a{
	text-decoration: none;
}

header {
	position: fixed;
	top:0;
	width:100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
	overflow: hidden;
	height: 50px;
}
header h1{
	position: absolute;
	left: 20px;
	padding:1%;
}
header h1 a{
	color: #ffffff;
}
header div.nav{
	position: absolute;
	right: 20px;
}
header div#countContainer{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom:0;
	background: aqua;
}
section#selectWrapper{
	position: relative;
	width: 100%;
	padding-top: 100px;
	background-color: red;
}

section#selectWrapper ul{
	margin: 0 auto;
	background-color: green;
	max-width: 1000px;
	padding: 3em 1em;
}
section#resultWrapper{
	background-color: purple;
	position: fixed;
	margin: 0 auto;
	right: 0;
	top: 50px;
	max-width: 600px;
}

header .nav > *{
	display: none;
}
header .nav.active-more button:nth-child(2){
	display: inline;
}




.movie-box{
	min-width: 162px;
	position: relative;
	display: inline-block;
	width: 18%;
	/*width: 185px;*/
	/*height: 260px;*/
	border-radius: 5px;
	overflow: hidden;
	margin: 5px;
	margin-left: 10px;
}
.movie-box .box-image img{
	min-width: 100%;
}
.movie-box .box-contents {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top:0;
	bottom: 0;
	z-index: 5;
	text-align: center;
	opacity: 0;
	transition: all 0.3s;
	webkit-transition: all 0.3s;
	transition-duration: 0.1s;
}
.movie-box:hover .box-contents{
	opacity:1;
}
.movie-box.select .box-contents{
	opacity:1;
}

.movie-box .box-contents .contents{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    color: #403f4e;
}
.movie-box .box-contents .contents .title{
	height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #F3F3F5;
    overflow: hidden; 
}
.movie-box .box-contents .contents .rating{
	padding: 12px 0 8px;
}
.movie-box .box-contents .contents .rating span{
	display: inline-block;
	background:url(image/heart-blank.png) center center no-repeat;
	width: 30px;
	height: 28px;
	transition: all 0.3s;
	webkit-transition: all 0.3s;
	cursor: pointer;
}
.movie-box .box-contents .contents .rating span:hover{
	background:url(image/heart-blink.png) center center no-repeat;
}
.movie-box .box-contents .contents .rating span.on{
	background:url(image/heart-blink.png) center center no-repeat;
}
@media screen and (max-width: 965px) {
	.movie-box{
		width: 22%;
		font-size: 10px;
	}
}
@media screen and (max-width: 768px) {
	.movie-box{
		width: 30%;
		font-size: 10px;
	}
}
@media screen and (max-width: 586px) {
	.movie-box{
		width: 45%;
		font-size: 10px;
	}
}